h1 {
  clear: both;
  text-align: center;
  font-weight: 100;
  font-size: 650%;
  color: #FFFDF2 ;
  margin-top: 0%;
  margin-bottom: 2.5%;
}

#logo {
  float: left;
  font-weight: 100;
  margin-top: 0.5%;
  margin-left: 0.5%;
  font-size: 40px;
  color: #DCD9D2;
}

.header-buttons {
  border-style: none;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 0.6%;
  float: right;
  margin-left: 0.5%;
  width: 6.5%;
  height: 40px;
  background-color: #444349;
  color: #DCD9D2;
}

#sign-out {
  margin-right: 0.5%;
}


.menu-items {
  margin-left: 15%;
  margin-right: 15%;
}

input[type="date"] {
  float: left;
  height: 21px;
  width: 150px;
  border-radius: 5px;
}

input[type="submit"] {
  float: left;
  padding: 1px 10px 1px 5px;
  border-style: none;
  font-weight: 400;
  height: 25px;
  font-size: 1em;
  background-color: #444349;
  color: #DCD9D2;
}

select {
  float: left;
  -webkit-appearance: menulist-button;
  width: 150px;
  line-height: 25px;
  height: 25px;
}

#new-event {
  border-style: none;
  text-align: right;
  float: right;
  font-weight: 400;
  font-size: 1.2em;
  width: 40%;
  height: 25px;
  background-color: #444349;
  color: #DCD9D2;
}



/*
#month-name {
  float: left;
  transform: rotate(90deg);
  margin-left: 2%;
  font-size: 2em;
}

#view-name {
  float: right;
  transform: rotate(90deg);
  margin-right: 2%;
  font-size: 2em;
}
*/


.wrapper-div {
  color: #FFFDF2;
  clear: both;
  text-align: center;
  margin-top: 1.5%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

ul {
  list-style-type: none;
}

h5 {
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 60px;
}

.name-of-day {
  display: inline-table;
  font-size: 1.9em;
  font-weight: 100;
  padding: 2%;
}

li {
  margin-top: 35px;
  margin-bottom: 5%;
}

hr {
  margin: 0px;
  width: 100%;
  border-color: red;
}

