<!-- <div class="wrapper-div"> -->
  Event Title: <%= @event.title %><br>
  Event Description: <%= @event.description %><br>

  <a href="/events/<%= @event.id %>/edit">Edit the event</a></br>
<!-- </div> -->