<!-- <div class="wrapper-div"> -->
  <h2 class='header'>Create New Event</h2>

  <div id="box">
    <form action="/events" method="post" class='text-bar'>
        Event Title: <br><input type="text" name="title"><br><br>
        Event Description: <br><textarea name="description"></textarea><br><br>
        Event Location: <br><input type="text" name="location"><br><br>
        Event Date: <br><input type="date" name="event_date_value"><br><br>
        Event Time: <br><input type="time" name="event_time_value"><br><br>
      <input type="submit" value="Submit" id='submit-button'>
    </form>
  </div>
<!-- </div> -->