<link rel="stylesheet" href="/css/signup.css">

<h2 class='header'>Sign Up</h2>

<div id="box">
  <form action="/sign_up" method="post" class='text-bar'>
      <p>First Name: </p><input type="text" name="first_name">
      <p>Last Name: </p><input type="text" name="last_name">
      <p>E-Mail: </p><input type="text" name="email">
      <p>Phone Number: </p><input type="text" name="phone_number">
      <p>Username: </p><input type="text" name="username">
      <p>Password: </p><input type="password" name="password">
    <input type="submit" value="SUBMIT" id='submit-button'>
  </form>
</div>
