<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      normalize.css removes cross-browser differences in defaults, e.g.,
      differences in how form elements appear between Firefox and IE
      See: http://necolas.github.com/normalize.css/
    -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!--
      application.css is where you put your styles
    -->
    <link rel="stylesheet" href="/css/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>

    <title></title>
  </head>

  <body>
    <header>
      <%if current_user%>
        <a href="/calendars/current_year"><button type="button">Current Year</button></a>
        <a href="/calendars/current_month"><button type="button">Current Month</button></a>
        <a href="/calendars/current_week"><button type="button">Current Week</button></a>
        <a href="/calendars/five_day"><button type="button">Five Day</button></a>
        <a href="/calendars/current_day"><button type="button">Current Day</button></a>
        <a href="/calendars/current_week_of_year"><button type="button">Current Week of Year</button></a>
        <a href="/events/new"><button type="button">Create New Event</button></a>
        <a href="/users/profile"><button type="button">User Profile</button></a>
        <a href="/sign_out"><button type="button">Signout</button></a>

      <%end%>
    </header>

    <%= yield %>
  </body>
</html>
